@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:is(.dark *));


@theme {
    --font-inter: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --font-sans: var(--font-inter);
    --color-sky-primary: #7EC8E3;
    --color-sky-hover: #5BB3D5;
    --color-sky-light: #E8F4F8;
    --color-sky-dark: #4A9BBF;
}
